body {
    background: var(--addon-black) !important;
    color: var(--addon-white) !important;
}

.aalink {
    color: var(--addon-red) !important;
}

.switchlang {
    color: var(--addon-white) !important;
}

#logo-it {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content-scripts/img/logo_unitn_it.png"), url("moz-extension://__MSG_@@extension_id__/content-scripts/img/logo_unitn_it.png");
    background-size: 165px 50px;
    background-repeat: no-repeat;
    object-position: -165px 50px;
}

#logo-en {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content-scripts/img/logo_unitn_en.png"), url("moz-extension://__MSG_@@extension_id__/content-scripts/img/logo_unitn_en.png");
    background-size: 165px 50px;
    background-repeat: no-repeat;
    object-position: -165px 50px;
}

#header {
    color: var(--addon-white) !important;
}

#header,
#logincontainer {
    background: var(--light-black) !important;
}

.divider-title {
    background: var(--light-black) !important;
}

.divider {
    border-color: var(--lighter-black) !important;
}

#footer {
    background: var(--addon-black) !important;
    color: var(--addon-white) !important;
}

#useful-links ul li a {
    color: var(--addon-white) !important;
}

a:link {
    color: var(--addon-white) !important;
    text-decoration: underline;
}