body,
.idptype,
#lang span {
    color: var(--addon-white) !important;
}

a:hover {
    color: var(--addon-dark-red) !important;
}

.aalink {
    color: var(--addon-red) !important;
}


#logo>a>img[src="/idp/images/MyDU_logo_UNITRENTO_IT.png"],
#logo>a>img[src="/Password1/Content/images/MyDU_logo_UNITRENTO_IT.png"] {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content-scripts/img/logo_unitn_it.png"), url("moz-extension://__MSG_@@extension_id__/content-scripts/img/logo_unitn_it.png");
    background-size: 165px 50px;
    background-repeat: no-repeat;
    object-position: -165px 50px;
}

#logo>a>img[src="/idp/images/MyDU_logo_UNITRENTO_EN.png"],
#logo>a>img[src="/Password1/Content/images/MyDU_logo_UNITRENTO_EN.png"] {
    background-image: url("chrome-extension://__MSG_@@extension_id__/content-scripts/img/logo_unitn_en.png"), url("moz-extension://__MSG_@@extension_id__/content-scripts/img/logo_unitn_en.png");
    background-size: 165px 50px;
    background-repeat: no-repeat;
    object-position: -165px 50px;
}

#logincontainer {
    background: unset !important;
}

#logincontainer #login {
    background-color: var(--addon-light-black)!important;
}

#login .form-control,
#logincontainer #login .form-control {
    background-color: var(--addon-light-black)!important;
    border-color: var(--addon-dark-grey) !important;
    outline: none !important;
    color: var(--addon-white) !important;
}

.form-control:focus {
    border-color: var(--addon-black) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn.btn-domain {
    color: var(--addon-white) !important;
    background-color: #151515 !important;
    border-color: var(--addon-dark-grey) !important;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 75%) !important;
}

.btn-default {
    color: var(--addon-white) !important;
    background-color: var(--addon-light-black) !important;
    border-color: var(--addon-dark-grey) !important;
    text-shadow: none !important;
}

input[type=password]+.progress {
    background: var(--addon-light-black)!important;
    border: 1px solid var(--addon-grey);
}

.panel {
    background-color: var(--addon-light-black)!important;
}

.panel.panel-default {
    border-color: var(--addon-dark-grey) !important;
}

#footer {
    background: var(--addon-light-black)!important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}