body {
    background-color: #000000 !important;
}

header {
    background-color: transparent !important;
}

.navbar-default {
    background-image: linear-gradient(to bottom, #212121 0, #000 100%) !important;
    background-color: #212121 !important;
    border-color: #404040 !important;
}

span.navbar-brand,
.navbar-nav>li>a {
    text-shadow: 0px -1px 0 #000 !important;
    color: #AAA !important;
}

header .container .row .text-right a img {
    filter: invert(1) !important;
}