body {
    background-color: var(--addon-black) !important;
}

header {
    background-color: transparent !important;
}

.navbar-default {
    background-image: linear-gradient(to bottom, var(--addon-light-black)0, var(--addon-black) 100%) !important;
    background-color: var(--addon-light-black)!important;
    border-color: var(--addon-dark-grey) !important;
}

span.navbar-brand,
.navbar-nav>li>a {
    text-shadow: 0px -1px 0 var(--addon-black) !important;
    color: var(--addon-white) !important;
}

header .container .row .text-right a img {
    filter: invert(1) !important;
}

.aalink {
    color: var(--addon-red) !important;
}